<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta property="og:title" content="I just built my ThermoSpas hot tub!"/>
    <meta property="og:description" content="Using the ThermoSpas hot tub builder, I built my own hot tub. Build your own at http://thermospas.com"/>
    <meta property="og:image" content="<%= @image_url %>"/>

    <title>ThermoSpas&reg; Hot Tub Builder</title>
  </head>

  <body>
    <img src="<%= @image_url %>" />
  </body>
</html>
