<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta property="og:title" content="I just built my ThermoSpas hot tub!"/>
    <meta property="og:description" content="I just designed my own ThermoSpas® hot tub! Design yours now – and get a FREE DVD, brochure, and $1,000 coupon! #mythermospas."/>
    <meta property="og:image" content="<%= @image_url %>"/>

    <title>ThermoSpas&reg; Hot Tub Builder</title>

    <style>
      img {
        display: none;
      }
    </style>
  </head>

  <body>
    <img src="<%= @image_url %>" />

    <script>
      window.location.replace("http://thermospas.com");
    </script>
  </body>
</html>
